{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% include 'nav.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{% url 'main:add' %}"><i class="fa fa-plus-circle"></i>&nbsp; Add request</a>
        </div>
        <div class="col">
            <h3>{% now "D d-M-Y | G:i" %} </h3>
        </div>
    </div>
    <hr>
    <div>
        <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Room</th>
                <th scope="col">Request</th>
                <th scope="col">Department</th>
                <th scope="col">Time request</th>
                <th scope="col">Status</th>
                <th scope="col">Time done</th>
                <th scope="col">Taken by</th>
                <th scope="col">Notes</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
                {% for rq in reqsts %}
                {% if rq.department == request.user.department or rq.created_by == request.user or request.user.is_superuser %}                        
                <tr>
                  <td>{{rq.date_added.date}}</td>
                  <td>{{rq.room}}</td>
                  <td>{{rq.request}}</td>
                  <td>{{rq.department}}</td>
                  <td>{{rq.date_added|time}}</td>
                  <td>{{rq.status}}</td>
                  <td>{{rq.date_updated|time}}</td>
                  <td>{{rq.created_by}}</td>
                  <td>{{rq.notes}}</td>
                  
                  <td>
                    {% if rq.status == 'Pending' %}
                        <a class="btn btn-warning btn-sm" href="{{ rq.get_absolute_url }}">Edit</a>
                    {% else %}
                     <a href="#" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Edit</a>
                    {% endif %}
                    
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock %}